<div class="container">
<div class="navbar">
  <mat-toolbar>
    <button mat-button (click)="goHome()">
    <span>HOME</span> 
    </button>
    <span class="example-spacer"></span>
    <button mat-button (click)="goProduct()">Sản phẩm</button>
    <button mat-button (click)="goCart()">Giỏ hàng</button>
    <span>/</span>
    <button mat-button (click)="goLogin()" class="example-icon" aria-label="Example icon-button with share icon">
      <span>Đăng nhập</span>
    </button>
    <div class="user" *ngIf="authService.currentUser">
      <img  class="avatar" [src]="authService.currentUser!.photoURL" alt="">
      <p >{{authService.currentUser!.displayName}}</p>
    </div>
  </mat-toolbar>
</div>
<div class="body">
  <div class="news">
  <div *ngFor="let news of (news$ | async)?.articles ?? []">
    <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> <b>{{news.title}}</b> </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="news.urlToImage" alt="Photo of a News">
      <mat-card-content>
        <p>
          {{news.description}}
        </p>
      </mat-card-content>
      <mat-card-content>
        <p>
          {{news.content}}
        </p>
      </mat-card-content>
      <mat-card-actions >
        <button class="btn" mat-button> <b>LIKE</b> </button>
        <button class="btn" mat-button> <b>SHARE</b> </button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
  </div>
  </div>
</div>
<router-outlet></router-outlet>